<div ng-switch="view.editMode">
    <!-- editMode -->
    <div ng-switch-when="true">
        <div ng-include="cfg.URL_ROOT + '/abc-company-app/abc-company-detail/abc-company-detail-edit-mode.html'"></div>
    </div>
    <!-- /editMode -->

    <!-- read-only mode -->
    <div ng-switch-when="false" class="read-only-view">
        <div ng-include="cfg.URL_ROOT + '/abc-company-app/abc-company-detail/abc-company-detail-detail-read-only.html'"></div>
    </div>
    <!-- /read-only mode -->
</div>
