footer
<button class="btn btn-delete"
        ng-click="actions.delete()"
        ng-disabled="view.addMode"
        ng-show="view.editMode"
        >Delete<i class="icon-font-delete-x"></i></button>
<button class="btn"
        ng-click="actions.cancelEdit()"
        ng-show="view.editMode"
        >Cancel</button>
<button type="submit" class="btn btn-primary"
        ng-click="actions.save()"
        ng-show="view.editMode"
        >Save</button>
<button class="btn btn-primary btn-edit"
        ng-click="actions.edit()"
        ng-show="!view.editMode"
        >Edit<i class="icon-font-edit"></i></button>