edit mode
<div class="form-group row" ng-class="{'has-error': formAbcCompany.company.$invalid}">
    <div class="col-sm-6">
        <div ng-switch="view.editMode">
            <h1 title="{{ abcCompany.company }}"
                ng-switch-when="false"
                    >{{ abcCompany.company }}</h1>
            <h3 class="h6"
                ng-switch-when="true"
                    >Company</h3>
            <input type="text" name="company" id="company" class="h1 input-lg form-control"
                   required
                   ng-disabled="!view.editMode"
                   ng-model="abcCompany.company"
                   ng-switch-when="true"
                    />
            <div class="help-block"
                 ng-messages="formAbcCompany.company.$error"
                    >
                <div ng-message="required">Field is required</div>
            </div>
        </div>
    </div>
</div>