﻿<!DOCTYPE html>
<html ng-app="@ViewBag.AngularApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("CustomMeta", false)

    <title>@ViewBag.Title</title>

    @*Styles.Render("~/bundles/css/bootstrap-css")*@
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    
    @RenderSection("CustomStyles", false)
    
    <script type="text/javascript">
        @{ var urlRoot = @Request.ApplicationPath == @"/" ? "" : @Request.ApplicationPath; }
        var API_ROOT = '@urlRoot';
        var URL_ROOT = '@urlRoot' + '/Content';
        
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-messages.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.3.3/ng-table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.js"></script>

    @RenderSection("CustomScripts", false)
</head>
<body>

    @RenderSection("Body", false)

</body>
</html>