<html ng-app="abcCompanyApp">
<head>
  <title>ABC Company</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-messages.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.3.3/ng-table.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.js"></script>
  <script src="libs/angularjs/angular-uuid2.js"></script>

  <script type="text/javascript">
    var API_ROOT = '';
    var URL_ROOT = 'http://localhost:3000/';
  </script>

  <script src="/app-share/filters/format.js"></script>
  <script src="/app-share/providers/app-utils.js"></script>

  <script src="/abc-company-app/abc-company-app.js"></script>
  <script src="/abc-company-app/abc-company-config.js"></script>
  <script src="/abc-company-app/abc-company-repository.js"></script>
  <script src="/abc-company-app/abc-company-list/abc-company-list.js"></script>
  <script src="/abc-company-app/abc-company-detail/abc-company-detail.js"></script>
  <script src="/abc-company-app/abc-company-add/abc-company-add.js"></script>

</head>
<body>
  <div id="app" ui-view></div>
</body>