<div id="main-breadcrumb">

</div>
<div class="abc-company-list" id="main-content">

    <a class="btn btn-primary" ui-sref="abccompany.detail({id:'add'})">Add</a>

    <!-- Table -->
    <h1 class="h1">Companies</h1>

    <div class="table-container">

        <table ng-table="tableParams" class="table table-primary">
            <colgroup>
                <col style="width: 20%"><!--  name -->
                <col style="width: 20%"><!-- phone -->
                <col style="width: 20%"><!-- address -->
                <col style="width: 20%"><!-- tag count -->
                <col style="width: 20%"><!-- email -->
                <col style="width: 9%"><!-- actions dropdown -->
            </colgroup>

            <tr ng-repeat="company in $data" show-filter="true">
                <!-- NAME -->
                <td data-title="Company"
                    sortable="'company'"
                        >
                    <a class=""
                       ui-sref="abccompany.detail({ id: company.guid })"
                            >{{ company.company }}</a>
                </td>

                <!-- PHONE -->
                <td data-title="Phone"
                        sortable="'phone'"
                        ><span class="">{{ company.phone }}</span></td>

                <!-- ADDRESS -->
                <td class="center"
                    header-class="center"
                    data-title="Address"
                    sortable="'address'"
                        ><span>{{ company.address }}</span></td>

                <!-- TAGS -->
                <td class="center"
                    header-class="center"
                    data-title="Tags"
                    sortable="'tags'"
                        >{{ company.tags.length }}</td>

                <!-- EMAIL -->
                <td
                    data-title="Email"
                    sortable="'email'"
                    ><span class="">{{ company.email }}</span></td>
                </td>

                <!-- ACTIONS -->
                <td>
                    <!-- Single button -->
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="false">
                            Button dropdown <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </td>

            </tr>
        </table>
    </div>
    <!-- /Table -->
</div>