<div id="main-breadcrumb" ui-view="main-breadcrumb"></div>
<div id="main-form" ng-form name="formAbcCompanyDetail">
    <div id="main-content">
        <div ui-view="main-content"></div>
    </div>
    <footer id="main-footer" class="main-footer" ui-view="main-footer"></footer>
</div><!-- formAbcCompanyDetail -->