breadcrumb
<ol class="breadcrumb">
    <li><a ui-sref="abccompany.list">List</a></li>
    <li class="active" title="{{ abcCompany.company }}"
        ng-if="!view.addMode"
            >{{ abcCompany.company }}</li>
    <li class="active" title="Add New"
        ng-if="view.addMode"
            >Add</li>
</ol>
